<div class="body-container" ng-init="home.summaryDetails()" >
    <div class="col-sm-12 col-md-5 col-lg-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                Gender distribution
            </div>
            <div class="panel-body" >
                <div id="gender_distribution" style="height: 300px;">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-7 col-lg-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                Relationship status distribution
            </div>
            <div class="panel-body">
                <div id="relationship_distribution" style="height: 300px;">
                </div>
            </div>
        </div>
    </div>
</div>
