<div class="top-header navbar-fixed-top" >
    <div class="text-left">
        <span style="font-size: 14px; padding-right:5px; ">
            <i class="fa fa-{{home.selectedMenu}}"></i>
        </span>
        <span class="text-capitalize">
            {{home.selectedMenu}}
        </span>
    </div>
</div>
<div class="side-bar">
    <div class="text-center cpadding">
        <img src="../../../images/logo.png" width="70px">
    </div>

    <div class="menu-item"
         ng-click="home.selectedMenu = 'dashboard'"
         ui-sref="root.dashboard"
         ng-class="{'selected':home.selectedMenu == 'dashboard'}">
        <div class="menu-icon">
            <i class="fa fa-dashboard"></i>
        </div>
        <div class="menu-caption">
            Dashboard
        </div>
    </div>
    <div class="menu-divider">
    </div>
    <div class="menu-item"
         ng-click="home.selectedMenu = 'list'"
         ui-sref="root.list"
         ng-class="{'selected':home.selectedMenu == 'list'}">
        <div class="menu-icon">
            <i class="fa fa-list"></i>
        </div>
        <div class="menu-caption">
            List
        </div>
    </div>
    <div class="menu-divider">
    </div>
</div>