<div class="body-container" ng-init="home.getList()">
    <div class="col-md-12">
        <div class="col-md-10 pull-left" style="padding: 0">
            <div class="filtered-item" ng-repeat="(each_column, values_list) in home.filterObj">
                <div class="caption">{{each_column}} : </div>
                <div class="filtered-value" ng-repeat="each_value in values_list">
                    {{each_value}}
                    <span class="close-btn"
                          ng-click="home.clearFilterItem(each_column, each_value)">
                        <i class="fa fa-close"></i> </span>
                </div>
            </div>
        </div>
        <div class="col-md-2 pull-right filter-container">

            <div class="dropdown">
                <button class="btn primary-btn dropdown-toggle" type="button"
                        data-toggle="dropdown"> <i class="fa fa-filter"></i> Filters
                </button>
                <div class="dropdown-menu">
                    <div class="filter-item" ng-repeat="each_column in home.filterColumns">
                        <div class="filter-columns">
                            {{each_column}}
                        </div>
                        <ul class="filter-values">
                            <li ng-repeat="filter_value in home.distinctValues[each_column] track by $index">
                                <input  type="checkbox"
                                        id="{{each_column+$index}}"
                                        name="selectedValues[]"
                                        value="{{filter_value}}"
                                        ng-model="home.selectedFilter[each_column][filter_value]">
                                <label for="{{each_column+$index}}" ng-click="$event.stopPropagation(); "> {{filter_value}} </label>
                            </li>
                        </ul>
                    </div>
                    <div class="filter-buttons">
                        <button class="btn primary-btn" ng-click="home.applyFilter()">
                            Apply
                        </button>
                        <button class="btn secondary-btn" ng-click="home.clearFilter()">
                            Clear
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="clear: both; height: 3px;">

    </div>
    <div class="col-md-12">
        <div class="text-center" ng-if="home.adultList.length == 0">
            <div class="message-box">
                No data available.
            </div>
        </div>
        <div ng-if="home.adultList.length > 0" class="csv-table-container">
            <table>
                <thead>
                    <tr>
                        <th ng-repeat="column_header in home.columnList">
                            <div class="text-capitalize">
                                {{column_header | replace_char}}
                            </div>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="each_row in home.adultList">
                        <td ng-repeat="column_header in home.columnList">
                            <div>
                                {{each_row[column_header]}}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div ng-if="home.adultList.length > 0">
            <div class="pull-left">
                Rows per page :
                <div class="btn-group" style="margin: 12px 0px 6px">
                    <button type="button" class="btn group-btn"
                            ng-class="{'active':home.pageLimit == 10}"
                            ng-click="home.itemsPerPageChange(10) "> 10 </button>
                    <button type="button" class="btn group-btn"
                            ng-class="{'active':home.pageLimit == 20}"
                            ng-click="home.itemsPerPageChange(20) "> 20 </button>
                    <button type="button" class="btn group-btn"
                            ng-class="{'active':home.pageLimit == 50}"
                            ng-click="home.itemsPerPageChange(50) "> 50 </button>
                    <button type="button" class="btn group-btn"
                            ng-class="{'active':home.pageLimit == 100}"
                            ng-click="home.itemsPerPageChange(100) "> 100 </button>
                </div>
            </div>

            <div class="pull-right">
                <ul uib-pagination total-items="home.totalCount" ng-model="home.currentPage"
                    ng-change="home.getList()" max-size="6" force-ellipses="true"
                    items-per-page="home.pageLimit"
                    boundary-link-numbers="true" rotate="false" style="margin: 12px 0px 6px"></ul>
            </div>
        </div>
    </div>
</div>