.animate-dot-size span {
  width: 6px;
  height: 6px;
  background-color: #114B5F;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  bottom: -1px;
  margin: 0px 1px;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both; }

.animate-dot-size span:first-child {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.animate-dot-size span:nth-child(2) {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.animate-dot-opacity span:before {
  content: "."; }

.animate-dot-opacity span {
  border-radius: 50%;
  font-size: 32px;
  line-height: 16px;
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both; }

.animate-dot-opacity span:nth-child(2) {
  animation-delay: .2s; }

.animate-dot-opacity span:nth-child(3) {
  animation-delay: .4s; }

@keyframes blink {
  0% {
    opacity: .2; }
  20% {
    opacity: 1; }
  100% {
    opacity: .2; } }
