@font-face {
  font-family: "Lato 100";
  src: url("/libs/css/fonts/lato-v14-latin-100.eot  ");
  src: url("/libs/css/fonts/lato-v14-latin-100.woff") format("woff"), url("/libs/css/fonts/lato-v14-latin-100.ttf") format("truetype"), url("/libs/css/fonts/lato-v14-latin-100.svg#filename") format("svg"); }

@font-face {
  font-family: "Lato 300";
  src: url("/libs/css/fonts/lato-v14-latin-300.eot  ");
  src: url("/libs/css/fonts/lato-v14-latin-300.woff") format("woff"), url("/libs/css/fonts/lato-v14-latin-300.ttf") format("truetype"), url("/libs/css/fonts/lato-v14-latin-300.svg#filename") format("svg"); }

@font-face {
  font-family: "Lato 700";
  src: url("/libs/css/fonts/lato-v14-latin-700.eot  ");
  src: url("/libs/css/fonts/lato-v14-latin-700.woff") format("woff"), url("/libs/css/fonts/lato-v14-latin-700.ttf") format("truetype"), url("/libs/css/fonts/lato-v14-latin-700.svg#filename") format("svg"); }

@font-face {
  font-family: "Lato 900";
  src: url("/libs/css/fonts/lato-v14-latin-900.eot  ");
  src: url("/libs/css/fonts/lato-v14-latin-900.woff") format("woff"), url("/libs/css/fonts/lato-v14-latin-900.ttf") format("truetype"), url("/libs/css/fonts/lato-v14-latin-900.svg#filename") format("svg"); }

@font-face {
  font-family: "Lato Regular";
  src: url("/libs/css/fonts/lato-v14-latin-regular.eot  ");
  src: url("/libs/css/fonts/lato-v14-latin-regular.woff") format("woff"), url("/libs/css/fonts/lato-v14-latin-regular.ttf") format("truetype"), url("/libs/css/fonts/lato-v14-latin-regular.svg#filename") format("svg"); }

div::-webkit-scrollbar-track, tbody::-webkit-scrollbar-track {
  background-color: white; }

div::-webkit-scrollbar, tbody::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #F5F5F5; }

div::-webkit-scrollbar-thumb, tbody::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.17);
  background-color: #114B5F; }

body {
  font-family: 'Lato Regular', sans-serif; }

[role=button], [role=button]:focus, [role=button]:active {
  outline: none; }

.cpadding {
  padding-bottom: 20px; }

.header1 {
  font-size: 36px;
  font-weight: bold;
  color: #114B5F; }

.primary-btn {
  background-color: #114B5F;
  color: white; }

.primary-btn:hover, .primary-btn:active, .primary-btn:focus {
  background-color: #125469 !important;
  color: white; }

.secondary-btn {
  background-color: #dddddd;
  color: #114B5F;
  border-color: #878787;
  font-size: 16px; }

.secondary-btn:hover, .secondary-btn:active, .secondary-btn:focus {
  background-color: #dddddd !important;
  color: #878787; }

.top-header {
  left: 80px;
  background-color: white;
  color: #114B5F;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 1px 4px 0px #878787;
  -moz-box-shadow: 0px 1px 4px 0px #878787;
  -o-box-shadow: 0px 1px 4px 0px #878787;
  -webkit-box-shadow: 0px 1px 4px 0px #878787; }

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100; }

.api-loader {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 10000; }

.api-loader > div {
  display: inline-block;
  background-color: white;
  top: 40%;
  position: relative;
  padding: 15px 42px;
  border-radius: 6px;
  box-shadow: 0px 0px 4px 1px #114B5F;
  -moz-box-shadow: 0px 0px 4px 1px #114B5F;
  -o-box-shadow: 0px 0px 4px 1px #114B5F;
  -webkit-box-shadow: 0px 0px 4px 1px #114B5F; }

.loading-text {
  color: #114B5F;
  font-size: 20px; }

.inline {
  display: inline-block;
  width: auto; }

.side-bar {
  display: inline-block;
  background-color: #114B5F;
  color: white;
  width: 80px;
  padding-top: 5px;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  box-shadow: 0px 3px 4px 0px #114B5F;
  -moz-box-shadow: 0px 3px 4px 0px #114B5F;
  -o-box-shadow: 0px 3px 4px 0px #114B5F;
  -webkit-box-shadow: 0px 3px 4px 0px #114B5F; }
  .side-bar .menu-item {
    width: 100%;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    border-left: 3px solid #114B5F; }
    .side-bar .menu-item .menu-icon {
      font-size: 22px; }
    .side-bar .menu-item .menu-caption {
      font-size: 12px; }
  .side-bar .selected {
    border-left-color: white;
    background-color: #125469; }
  .side-bar .menu-divider {
    margin: 10px 20px;
    border-bottom: 1px solid white; }

.content-bar {
  margin-left: 90px;
  margin-right: 10px;
  padding-top: 60px; }

.csv-table-container {
  overflow-x: auto;
  overflow-y: hidden;
  display: inline-block;
  max-width: 100%;
  border: 1px solid lightgrey; }
  .csv-table-container table {
    position: relative;
    display: inline-block;
    margin-bottom: 35px;
    font-size: 14px; }
  .csv-table-container thead {
    display: inline-block;
    position: absolute;
    left: 0;
    background-color: #114B5F;
    color: whitesmoke;
    height: 35px; }
    .csv-table-container thead tr {
      height: 35px; }
  .csv-table-container tbody {
    display: block;
    overflow-y: auto;
    max-height: 450px;
    overflow-x: hidden;
    position: relative;
    top: 35px;
    background-color: whitesmoke; }
  .csv-table-container td, .csv-table-container th {
    max-width: 0px;
    min-width: 150px;
    text-align: center;
    padding: 7px 5px;
    word-wrap: break-word;
    border: 1px solid lightgrey; }
    .csv-table-container td div, .csv-table-container th div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }

.filter-container {
  margin-bottom: 10px;
  text-align: right;
  padding: 0; }
  .filter-container .filter-item {
    margin: 5px 10px;
    padding: 5px 0px;
    box-shadow: 0px 4px 3px -3px #878787;
    -moz-box-shadow: 0px 4px 3px -3px #878787;
    -o-box-shadow: 0px 4px 3px -3px #878787;
    -webkit-box-shadow: 0px 4px 3px -3px #878787; }
    .filter-container .filter-item .filter-columns {
      color: #878787;
      text-transform: capitalize; }
    .filter-container .filter-item .filter-values {
      padding-left: 15px;
      margin-bottom: 0px; }
      .filter-container .filter-item .filter-values li {
        list-style: none; }
  .filter-container .filter-buttons {
    margin: 10px 0px 5px;
    text-align: center; }

.filtered-item {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px; }
  .filtered-item .caption {
    display: inline-block;
    color: #878787;
    text-transform: capitalize;
    padding-right: 5px; }
  .filtered-item .filtered-value {
    display: inline-block;
    border-radius: 20px;
    padding: 3px 5px 3px 10px;
    border: 1px solid #878787;
    background-color: #ddd;
    font-size: 14px;
    margin-right: 6px; }
    .filtered-item .filtered-value .close-btn {
      cursor: pointer;
      padding: 0px 5px;
      display: inline-block; }

.message-box {
  display: inline-block;
  border-radius: 10px;
  border: 1px solid #878787;
  padding: 20px;
  margin: 100px 0px;
  text-align: center;
  background-color: #F4F4F4;
  font-size: 20px; }

.c3-chart-arc text {
  font-size: 15px !important;
  font-weight: bold !important; }

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  background-color: #114B5F;
  border-color: #114B5F; }

.pagination > li > a, .pagination > li > span {
  color: #114B5F; }

.panel-heading {
  background-color: #125469 !important;
  color: white !important;
  text-transform: capitalize; }

.btn-group .group-btn {
  border: 1px solid #ddd;
  background-color: white; }

.btn-group .active {
  background-color: #114B5F;
  border-color: #114B5F;
  color: white; }

.dropdown-menu {
  right: 0;
  left: auto;
  width: 200px; }
