file-dir {
  display: inline-block;
  width: 100%;
  position: relative; }

.fileUpload {
  position: relative;
  overflow: hidden;
  height: 420px;
  margin: 15px;
  margin-bottom: 25px;
  border: dashed 2px #cac7c7;
  border-radius: 4px;
  color: #b1b0b0;
  background-color: #FAFAFA;
  display: flex;
  text-align: center;
  align-items: center;
  z-index: 1000; }
  .fileUpload input[type=file] {
    display: block;
    position: absolute;
    top: 0;
    /* right: 0; */
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1000; }
  .fileUpload .file-hint {
    margin: auto;
    padding: 0px 20px; }
  .fileUpload img {
    width: 100%;
    height: 100%;
    max-height: 360px;
    object-fit: contain;
    outline: none; }
  .fileUpload .overlay {
    background: rgba(0, 0, 0, 0.57);
    width: 100%;
    height: 100%;
    position: absolute;
    color: #c7c5c5;
    display: none;
    align-items: center;
    text-align: center;
    margin: auto; }
    .fileUpload .overlay span {
      width: 100%;
      font-size: 2.2em; }

.fileUpload:hover .overlay {
  display: flex;
  transition: display 2s; }
