$primary-color:#114B5F;
$primary-light-color: #125469;

$primary-font-color:white;
$secondary-font-color:#878787;

$secondary-color: #1A936F;

$corner-border-color: #8d8d8d;

$grey-color:#F4F4F4;

@function calculateValue($exp){
  @return calc(100% - #{$exp});
}

@mixin box-shadow($shadowVal,$bg-color){
  box-shadow: $shadowVal $bg-color;
  -moz-box-shadow: $shadowVal $bg-color;
  -o-box-shadow: $shadowVal $bg-color;
  -webkit-box-shadow: $shadowVal $bg-color;
}

@font-face {
  font-family: "Lato 100";
  src:url("/libs/css/fonts/lato-v14-latin-100.eot  ");
  src:url("/libs/css/fonts/lato-v14-latin-100.woff") format("woff"),
          url("/libs/css/fonts/lato-v14-latin-100.ttf") format("truetype"),
          url("/libs/css/fonts/lato-v14-latin-100.svg#filename") format("svg");
}
@font-face {
  font-family: "Lato 300";
  src:url("/libs/css/fonts/lato-v14-latin-300.eot  ");
  src:url("/libs/css/fonts/lato-v14-latin-300.woff") format("woff"),
          url("/libs/css/fonts/lato-v14-latin-300.ttf") format("truetype"),
          url("/libs/css/fonts/lato-v14-latin-300.svg#filename") format("svg");
}
@font-face {
  font-family: "Lato 700";
  src:url("/libs/css/fonts/lato-v14-latin-700.eot  ");
  src:url("/libs/css/fonts/lato-v14-latin-700.woff") format("woff"),
          url("/libs/css/fonts/lato-v14-latin-700.ttf") format("truetype"),
          url("/libs/css/fonts/lato-v14-latin-700.svg#filename") format("svg");
}
@font-face {
  font-family: "Lato 900";
  src:url("/libs/css/fonts/lato-v14-latin-900.eot  ");
  src:url("/libs/css/fonts/lato-v14-latin-900.woff") format("woff"),
          url("/libs/css/fonts/lato-v14-latin-900.ttf") format("truetype"),
          url("/libs/css/fonts/lato-v14-latin-900.svg#filename") format("svg");
}
@font-face {
  font-family: "Lato Regular";
  src:url("/libs/css/fonts/lato-v14-latin-regular.eot  ");
  src:url("/libs/css/fonts/lato-v14-latin-regular.woff") format("woff"),
          url("/libs/css/fonts/lato-v14-latin-regular.ttf") format("truetype"),
          url("/libs/css/fonts/lato-v14-latin-regular.svg#filename") format("svg");
}


div::-webkit-scrollbar-track, tbody::-webkit-scrollbar-track{
  //-webkit-box-shadow: inset 0 0 6px rgba(156, 152, 152, 0.3);
  background-color: white;
}

div::-webkit-scrollbar, tbody::-webkit-scrollbar{
  width: 4px;
  height: 4px;
  background-color: #F5F5F5;
}

div::-webkit-scrollbar-thumb, tbody::-webkit-scrollbar-thumb{
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.17);
  background-color: $primary-color;
}

body{
  font-family: 'Lato Regular', sans-serif;
}

[role=button], [role=button]:focus, [role=button]:active {
  outline: none;
}

.cpadding{
  padding-bottom: 20px;
}

.header1{
  font-size: 36px;
  font-weight: bold;
  color: $primary-color;
}

.primary-btn{
  background-color: $primary-color;
  color: white;
}
.primary-btn:hover, .primary-btn:active , .primary-btn:focus {
  background-color: $primary-light-color!important;
  color: white;
}

.secondary-btn{
  background-color: #dddddd;
  color:$primary-color;
  border-color: $secondary-font-color;
  font-size: 16px;
}
.secondary-btn:hover, .secondary-btn:active , .secondary-btn:focus {
  background-color: #dddddd!important;
  color: $secondary-font-color;
}

.top-header{
  left: 80px;
  background-color: white;
  color: $primary-color;
  padding: 10px;
  text-align: center;
  @include box-shadow(0px 1px 4px 0px, $secondary-font-color);
  //min-height: 130px;
}

.overlay{
  position: fixed;
  left:0;
  right:0;
  top:0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 100;
}

.api-loader{
  position:fixed;

  left:0;
  width:100%;
  z-index: 10000;
}
.api-loader > div{
  display: inline-block;
  background-color: white;
  top:40%;
  position: relative;
  padding: 15px 42px;
  border-radius: 6px;
  @include box-shadow(0px 0px 4px 1px, $primary-color);
}
.loading-text{
  color: $primary-color;
  font-size: 20px;
}

.inline{
  display: inline-block;
  width: auto;
}

.side-bar{
  display: inline-block;
  background-color: $primary-color;
  color: white;
  width: 80px;
  padding-top: 5px;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  @include box-shadow(0px 3px 4px 0px, $primary-color);

  .menu-item{
    width: 100%;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    border-left:3px solid $primary-color ;

    .menu-icon{
      font-size: 22px;
    }
    .menu-caption{
      font-size: 12px;
    }
  }

  .selected{
    border-left-color: white;
    background-color: $primary-light-color;
  }

  .menu-divider{
    margin: 10px 20px;
    border-bottom: 1px solid white;
  }
}

.content-bar{
  margin-left: 90px;
  margin-right: 10px;
  padding-top: 60px;
}

$table-row-height: 35px;
.csv-table-container {
  overflow-x: auto;
  overflow-y: hidden;
  display: inline-block;
  max-width: 100%;
  border: 1px solid lightgrey;

  table {
    position: relative;
    display: inline-block;
    margin-bottom: $table-row-height;
    font-size: 14px;
  }

  thead {
    display: inline-block;
    position: absolute;
    left: 0;
    background-color: $primary-color;
    color: whitesmoke;
    height: $table-row-height;

    tr {
      height: $table-row-height;
    }
  }

  tbody {
    display: block;
    overflow-y: auto;
    max-height: 450px;
    overflow-x: hidden;
    position: relative;
    top: $table-row-height;
    background-color: whitesmoke;
  }

  td, th {
    max-width: 0px;
    min-width: 150px;
    text-align: center;
    padding: 7px 5px;
    word-wrap: break-word;
    border: 1px solid lightgrey;

    div {

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.filter-container {
  margin-bottom: 10px;
  text-align: right;
  padding: 0;

  .filter-item {
    margin:5px 10px;
    padding: 5px 0px;
    @include box-shadow(0px 4px 3px -3px, $secondary-font-color);

    .filter-columns {
      color: $secondary-font-color;
      text-transform: capitalize;
    }

    .filter-values {
      padding-left: 15px;
      margin-bottom: 0px;
      li{
        list-style: none;
      }

    }
  }

  .filter-buttons{
    margin:10px 0px 5px;
    text-align: center;
  }
}

.filtered-item{
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;

  .caption{
    display: inline-block;
    color: $secondary-font-color;
    text-transform: capitalize;
    padding-right: 5px;
  }

  .filtered-value{
    display: inline-block;
    border-radius: 20px;
    padding: 3px 5px 3px 10px;
    border:1px solid $secondary-font-color;
    background-color: #ddd;
    font-size: 14px;
    margin-right: 6px;

    .close-btn{
      cursor: pointer;
      padding: 0px 5px;
      display: inline-block;
    }

  }
}

.message-box{
  display: inline-block;
  border-radius: 10px;
  border: 1px solid $secondary-font-color;
  padding: 20px;
  margin: 100px 0px;
  text-align: center;
  background-color: $grey-color;
  font-size: 20px;
}

///****************** library class overwrite ********************** ///

.c3-chart-arc text{
  font-size: 15px!important;
  font-weight: bold!important;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
  background-color: $primary-color;
  border-color: $primary-color;
}

.pagination>li>a, .pagination>li>span{
  color: $primary-color;
}

.panel-heading{
  background-color: $primary-light-color!important;
  color: $primary-font-color!important;
  text-transform: capitalize;
}

.btn-group {
  .group-btn {
    border: 1px solid #ddd;
    background-color: white;
  }
  .active {
    background-color: $primary-color;
    border-color: $primary-color;
    color: $primary-font-color;
  }
}

.dropdown-menu{
  right: 0;
  left: auto;
  width: 200px;
}



